* {
  margin: 0;
  padding: 0;
}
#wrap {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
a {
  text-decoration: none;
  color: #000;
}
#header {
  width: 100%;
  display: flex;
}
#header .logo {
  width: 20%;
  height: 100px;
  background-color: #efefef;
}
#header .nav {
  width: 80%;
  height: 100px;
  background-color: #e3e3e3;
}
#slider {
  width: 100%;
  height: 300px;
  background-color: #d9d9d9;
}
#contents {
  width: 100%;
  display: flex;
}
#contents .content1 {
  width: 33.3333%;
  height: 200px;
  background-color: #d1d1d1;
}

/* tab  */
.tab {
  padding: 10px;
}
.tab-menu ul {
  display: flex;
}
.tab-menu ul li {
  list-style: none;
  font-weight: bold;
  display: flex;
  padding: 10px;
  background-color: #9d9d9d;
}
.active {
  text-decoration: underline;
}
.tab-cont {
  background-color: #bcbcbc;
}
.tab-cont div {
  padding: 10px;
  line-height: 25px;
}

#contents .content2 {
  width: 33.3333%;
  height: 200px;
  background-color: #c7c7c7;
}
#contents .content3 {
  width: 33.3333%;
  height: 200px;
  background-color: #bcbcbc;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer {
  width: 100%;
  display: flex;
}
#footer .footer1 {
  width: 20%;
  height: 100px;
  background-color: #b1b1b1;
}
#footer .footer2 {
  width: 60%;
  height: 100px;
  background-color: #a3a3a3;
}
#footer .footer3 {
  width: 20%;
  height: 100px;
  background-color: #9d9d9d;
}

/* popup */
.popup-open {
  padding: 10px;
  display: inline-block;
  background-color: antiquewhite;
}

.popup-view {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background-color: #a2a2a2;
  border: 3px solid #000;
  z-index: 1000;
  display: none;
}

.popup-view {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: antiquewhite;
  border: 3px solid #000;
}
.popup-close {
  display: inline-block;
  padding: 10px;
  background-color: burlywood;
}
