@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  color: #333;
}
#wrap {
  width: 1200px;
  margin: 0 auto;
}

/* header */
#header {
  height: 100%;
  display: flex;
}
#header .header_logo {
  width: 20%;
  height: 100px;
  /* background-color: aliceblue; */
}
#header .menu {
  width: 80%;
  height: 100px;
  background-color: rgb(33, 75, 88);
}

/* slider */
#slider {
  width: 100%;
  height: 300px;
  background-color: rgb(160, 206, 247);
}

/* contents */
#contents {
  height: 100%;
  display: flex;
}
#contents .contents1 {
  width: 33.335%;
  height: 200px;
  background-color: rgb(99, 152, 199);
}
.contents2 {
  width: 33.335%;
  height: 200px;
  background-color: rgb(75, 113, 146);
}
.contents3 {
  width: 33.335%;
  height: 200px;
  background-color: rgb(26, 41, 54);
}

/* footer */
#footer {
  height: 100%;
  display: flex;
}
#footer .footer_logo {
  width: 20%;
  height: 100px;
  background-color: rgb(79, 165, 241);
}
#footer .copyright {
  width: 60%;
  height: 100px;
  background-color: rgb(47, 121, 185);
}
#footer .sns {
  width: 20%;
  height: 100px;
  background-color: rgb(14, 56, 92);
}
